link(href="/public/assets/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css")

//[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]