script(type="text/javascript" src="/public/ueditor/ueditor.config.js")
script(type="text/javascript" src="/public/ueditor/ueditor.all.js")
script(type="text/javascript" src="/public/ueditor/lang/zh-cn/zh-cn.js")
script(type="text/javascript" src="/js/baidu-ueditor-init.js")