script(type="text/javascript" src="/public/assets/bower/jquery/dist/jquery.js")
script(type="text/javascript" src="/public/assets/bower/bootstrap/dist/js/bootstrap.js")
script(src="/js/jquery.hotkeys.js")
//- var mydate = new Date();
//-if mydate.getMonth() =="11" && mydate.getDate()=="25" /* 判断是否圣诞节 加载圣诞节特效*/
//-script(src="/js/snow.src.js")