doctype
html
    head
      meta(charset="utf-8")
      title #{title}
      include ./includes/bootstrap
      block style
      include ./includes/sidebar
    body
      block sidebar
      block  content
      block foot
      include ./includes/js
      block scripts

    