doctype
html
    head
      meta(charset="utf-8")
      title #{title}
      include ./includes/bootstrap
      block style
      if config.sidebar
          include ./includes/sidebar
    body
      if config.top_nav
       include ./blocks/top_nav
      if config.sidebar
       include ./blocks/sidebar
      block  content
      block foot
      include ./includes/js
      block scripts

    