extends ../layout

block style
  include ../includes/style
  include ../includes/googlecodeprettifycss
  include ../includes/font-awesome
block scripts
  include ../includes/googlecodeprettifyjs
  include ../includes/baidu-ueditor
block foot
  include ../blocks/foot
block content
  p 找不到页面