extends ../layout

block style
  include ../includes/style
  include ../includes/googlecodeprettifycss
  include ../includes/font-awesome
block scripts
  include ../includes/googlecodeprettifyjs
  include ../includes/baidu-ueditor
  
block sidebar
  include ../blocks/sidebar
block foot
  include ../blocks/foot
block content